<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-iD1Cit0sRGltw7nIKRKdYYbgkhhhjaJmryNHuWC4bA&s" width="100px" height="40">
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
      
        <li class="nav-item dropdown" style="color: black;">
          <a style="color: black;" class="nav-link dropdown-toggle" routeLink="courses" role="button" data-toggle="dropdown" aria-expanded="false">
            Courses
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">MERN</a>
            <a class="dropdown-item" href="#">MEAN</a>
            <a class="dropdown-item" href="#">JAVA</a>
          </div>
        </li> 
        <li class="nav-item active">
            <a class="nav-link" routerLink="registration">Registration<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="gallery">Gallery <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="contactus" style="margin-left: 380px;">Contactus<span class="sr-only">(current)</span></a>
          </li>

      </ul>
      
    </div>
  </nav>
