<header style="width: 100%; height: 380px; background-color: rgb(66, 191, 226);" >
    <section>
        <p class="h4">LIVE VIRTUAL CLASS</p>
    </section>
  <div>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img  src="https://images.pexels.com/photos/2599244/pexels-photo-2599244.jpeg?cs=srgb&dl=pexels-alex-knight-2599244.jpg&fm=jpg" alt="First slide" style="width: 1280px; height: 330px;">
          </div>
          <div class="carousel-item">
            <img  src="https://images.unsplash.com/photo-1534723328310-e82dad3ee43f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cm9ib3R8ZW58MHx8MHx8fDA%3D&w=1000&q=80" alt="Second slide" style="width: 1280px; height: 330px;">
          </div>
          <div class="carousel-item">
            <img  src="https://t4.ftcdn.net/jpg/03/86/07/83/360_F_386078374_WDOvxzHmUCsg0h3AufqbhtuWkBKz8XpU.jpg" alt="Third slide" style="width:1280px; height: 330px;">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    
    </div>
  </header>
    
    